[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = "*"
pandas = "*"
boto3 = "*"
s3fs = "*"
ucimlrepo = "*"
click = "*"

[dev-packages]
deepdiff = "*"

[requires]
python_version = "3.10"
